body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#bookingForm {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #faf7f7;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333;
}

label,
input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    color: #fff;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button hover {
    background-color: #666;
}

#bookingList {
    margin: 20px auto;
    width: 600px;
    padding: 20px;
    border: 1px solid #faf7f7;
    border-radius: 5px;
    color: #fff;
    box-shadow: 1px 1px 5px #ccc;

}

#bookingItems {
    list-style-type: none;
    padding: 0;
}

.booking-item {
    margin-bottom: 10px;
}

.booking-item h3 {
    margin: 0;
}

.booking-item p {
    margin: 0;
}
